@model Tuple<GestioneHotel.Models.Camera, List<GestioneHotel.Models.Prenotazione>>

@{
    ViewBag.Title = "Details";
}

<h3>Camera</h3>

<div>
    <hr />


    <div class="d-flex">
        <div class="flex-column fw-semibold px-3">
            <p>@Html.DisplayNameFor(model => model.Item1.NrCamera)</p>
            <p>@Html.DisplayNameFor(model => model.Item1.TipoCamera)</p>
            <p>@Html.DisplayNameFor(model => model.Item1.PrezzoCamera)</p>

        </div>
        <div class="flex-column px-3">
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.NrCamera)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.TipoCamera)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.PrezzoCamera)</p>
        </div>


    </div>
    <p class="my-2">
        @Html.ActionLink("≡ Modifica", "Edit", new { id = Model.Item1.NrCamera }, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("← Lista Camere", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </p>

</div>

<hr />

<div>
    <h4>Prenotazioni</h4>

    <table class="table">
        <tr>
            <th># Pr.</th>
            
            <th>Data Pr.</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            
            
        </tr>

        @foreach (var prenotazione in Model.Item2)
        {
            <tr>
                <td>
                    @prenotazione.AnnoPreno-@prenotazione.IDPrenotazione
                </td>

                <td>
                    @prenotazione.DataPreno.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @prenotazione.DataCheckIn.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @prenotazione.DataCheckOut.ToString("dd/MM/yyyy")
                </td>


                <td class="text-end">
                    @Html.ActionLink("≡ Modifica", "Edit", "Prenotazioni", new { id = prenotazione.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })

                    @Html.ActionLink("→ Info", "Details", "Prenotazioni", new { id = prenotazione.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })
                </td>

            </tr>
        }

    </table>

</div>

