@model GestioneHotel.Models.Camera

@{
    ViewBag.Title = "Edit";
}

<h3>Modifica Camera</h3>
<div class="fw-semibold fs-5">
    <span>@Html.DisplayNameFor(model => model.NrCamera):</span>
    <span class="bg-dark bg-opacity-25 rounded-3 px-2 pb-1">@Html.DisplayFor(model => model.NrCamera)</span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.NrCamera)


        <div class="form-group my-3">
            @Html.LabelFor(model => model.TipoCamera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoCamera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoCamera, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.PrezzoCamera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrezzoCamera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrezzoCamera, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="✓ Salva" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("← Camere", "Index", null, new { @class = "btn btn-primary btn-sm mt-2" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
