@model IEnumerable<GestioneHotel.Models.Camera>

@{
    ViewBag.Title = "Index";
}

<h3>Camere</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NrCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoCamera)
        </th>
        <th>
            Prenotazioni
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NrCamera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCamera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoCamera) €
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalePrenotazioni)
        </td>
        <td class="text-end">
            @Html.ActionLink("≡ Modifica", "Edit", new { id = item.NrCamera }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("→ Info", "Details", new { id = item.NrCamera }, new { @class = "btn btn-primary btn-sm" })
            
        </td>
    </tr>
}

</table>
