@model IEnumerable<GestioneHotel.Models.Servizio>

@{
    ViewBag.Title = "Index";
}

<h3>Servizi</h3>

<div class="text-end">
    <a href="@Url.Action("Create", "RichiesteServizi")" class="btn btn-primary btn-sm">+ Richiesta</a>
    <a href="@Url.Action("Index", "RichiesteServizi")" class="btn btn-primary btn-sm">→ Richieste</a>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoServizio)
        </th>
        <th>
            Richieste
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDServizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoServizio) €
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotaleRichieste)
        </td>
        <td class="text-end">
            @Html.ActionLink("≡ Modifica", "Edit", new { id = item.IDServizio }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("→ Info", "Details", new { id = item.IDServizio }, new { @class = "btn btn-primary btn-sm" })
            
        </td>
    </tr>
}

</table>
