@model Tuple<GestioneHotel.Models.Cliente, List<GestioneHotel.Models.Prenotazione>>

@{
    ViewBag.Title = "Details";
}

<h3>Cliente</h3>

<div>

    <hr />

    <div class="d-flex">
        <div class="flex-column fw-semibold px-3">
            <p># Cliente:</p>
            <p>Cognome:</p>
            <p>Nome:</p>
            <p>Cod. Fiscale:</p>
            <p>Città:</p>
            <p>Telefono:</p>
            <p>Cellulare:</p>
            <p>E-mail:</p>
        </div>
        <div class="flex-column px-3">
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.IDCliente)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.Cognome)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.Nome)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.CodFiscale)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.Citta) (@Html.DisplayFor(model => model.Item1.Prov))</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.Tel)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.Cell)</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.Email)</p>
        </div>
    </div>
    <p class="my-2">
        @Html.ActionLink("≡ Modifica", "Edit", new { id = Model.Item1.IDCliente }, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("← Lista Clienti", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </p>
</div>

<hr />

<div>
    <h4>Prenotazioni</h4>

    <table class="table">
        <tr>
            <th># Pr.</th>
            <th>Data Pr.</th>
            <th>Camera</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Formula</th>
            <th>Anticipo</th>
            <th></th>
        </tr>

        @foreach (var prenotazione in Model.Item2)
        {
            <tr>
                <td>@prenotazione.AnnoPreno-@prenotazione.IDPrenotazione</td>
                <td>@prenotazione.DataPreno.ToString("dd/MM/yyyy")</td>
                <td>@prenotazione.FK_NrCamera - @prenotazione.TipoCamera</td>
                <td>@prenotazione.DataCheckIn.ToString("dd/MM/yyyy")</td>
                <td>@prenotazione.DataCheckOut.ToString("dd/MM/yyyy")</td>
                <td>@prenotazione.FormulaPreno</td>
                <td>@prenotazione.Anticipo.ToString("C")</td>
                <td>
                    @Html.ActionLink("≡ Modifica", "Edit", "Prenotazioni", new { id = prenotazione.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })

                    @Html.ActionLink("→ Info", "Details", "Prenotazioni", new { id = prenotazione.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </table>

</div>


