@model IEnumerable<GestioneHotel.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h3>Clienti</h3>

<p class="text-end">
    @Html.ActionLink("+ Nuovo", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prov)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodFiscale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prov)
        </td>
        
        <td class="text-end">
            @Html.ActionLink("≡ Modifica", "Edit", new { id = item.IDCliente }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("→ Info", "Details", new { id = item.IDCliente }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
