@model Tuple<GestioneHotel.Models.Prenotazione, List<GestioneHotel.Models.RichiestaServizio>, GestioneHotel.Models.CheckoutDetails>


@{
    ViewBag.Title = "Details";
}

<h3>Prenotazione</h3>

<hr />

<div class="d-flex justify-content-between">


    <div class="d-flex">
        <div class="flex-column fw-semibold px-3">
            <p># Prenotazione:</p>
            <p>Data Prenotazione:</p>
            <p>Cliente:</p>
            <br />
            <p>Data Check-In:</p>
            <p>Data Check-Out:</p>
            <p>Camera:</p>
            <p>Formula:</p>

        </div>
        <div class="flex-column px-3">
            <p class="border-bottom px-3">@Model.Item1.AnnoPreno-@Model.Item1.IDPrenotazione</p>
            <p class="border-bottom px-3">@Model.Item1.DataPreno.ToString("dd/MM/yyyy")</p>
            <p class="border-bottom px-3">@Html.ActionLink(Model.Item1.Cognome + " " + Model.Item1.Nome, "Details", "Clienti", new { id = Model.Item1.FK_IDCliente }, new { @class = "link-dark" })</p>
            <br />
            <p class="border-bottom px-3">@Model.Item1.DataCheckIn.ToString("dd/MM/yyyy")</p>
            <p class="border-bottom px-3">@Model.Item1.DataCheckOut.ToString("dd/MM/yyyy")</p>
            <p class="border-bottom px-3">@Model.Item1.FK_NrCamera - @Model.Item1.TipoCamera</p>
            <p class="border-bottom px-3">@Html.DisplayFor(model => model.Item1.FormulaPreno)</p>

        </div>
    </div>

    <div class="d-flex align-items-end me-3">
        <div class="flex-column text-end px-3">
            <p>Soggiorno:</p>
            <p>Anticipo:</p>
            <p>Servizi:</p>
            <br />
            <p>Checkout:</p>

        </div>

        <div class="flex-column text-end px-3">
            <p class="border-bottom px-5">@Model.Item3.CostoSoggiorno.ToString("C")</p>
            <p class="border-bottom px-5"><span class="text-black text-opacity-50 pe-3">-</span> @Model.Item1.Anticipo.ToString("C")</p>
            <p class="border-bottom px-5"><span class="text-black text-opacity-50 pe-3">+</span> @Model.Item3.CostoServizi.ToString("C")</p>
            <br />
            <p class="border-bottom fw-semibold px-5">@Model.Item3.ImportoDovuto.ToString("C")</p>

        </div>



    </div>


</div>

<p class="my-2">
    @Html.ActionLink("≡ Modifica", "Edit", new { id = Model.Item1.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("← Prenotazioni", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>

<hr />

<div>
    <h4>Servizi richiesti</h4>

    <table class="table">
        <tr>
            <th># Richiesta</th>
            <th>Data Servizio</th>
            <th>Servizio</th>
            <th>Quantità</th>
            <th>Prezzo</th>
            <th>Totale</th>
        </tr>

        @foreach (var richserv in Model.Item2)
        {
            <tr>
                <td>@richserv.IDRichServizio</td>
                <td>@richserv.DataServizio.ToString("dd/MM/yyyy")</td>
                <td>#@richserv.FK_IDServizio - @richserv.TipoServizio</td>
                <td>@richserv.QuantitaServizio</td>
                <td>@richserv.PrezzoServizio €</td>
                <td>@richserv.TotServizio €</td>
                <td class="text-end">
                    @Html.ActionLink("≡ Modifica", "Edit", "RichiesteServizi", new { id = richserv.IDRichServizio }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>

<p>
    <a href="@Url.Action("Index", "Servizi")" class="btn btn-primary btn-sm">→ Servizi</a>
</p>
