@model GestioneHotel.Models.Prenotazione

@{
    ViewBag.Title = "Edit";
}

<h3>Modifica Prenotazione</h3>
<div class="fw-semibold fs-5">
    <span>@Html.DisplayNameFor(model => model.IDPrenotazione):</span>
    <span class="bg-dark bg-opacity-25 rounded-3 px-2 pb-1">@Html.DisplayFor(model => model.AnnoPreno)-@Html.DisplayFor(model => model.IDPrenotazione)</span>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.IDPrenotazione)

        <div class="form-group my-3">
            @Html.LabelFor(model => model.AnnoPreno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnoPreno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnnoPreno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.DataPreno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataPreno, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DataPreno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.DataCheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataCheckIn, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DataCheckIn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.DataCheckOut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataCheckOut, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DataCheckOut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.Anticipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anticipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Anticipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.FK_IDCliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_IDCliente, ViewBag.FK_IDCliente as IEnumerable<SelectListItem>, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.FK_IDCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.FK_NrCamera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_NrCamera, (IEnumerable<SelectListItem>)ViewBag.FK_NrCamera, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_NrCamera, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.FormulaPreno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FormulaPreno, (IEnumerable<SelectListItem>)ViewBag.FormulaPrenoList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FormulaPreno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="✓ Salva" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("← Prenotazioni", "Index", null, new { @class = "btn btn-primary btn-sm mt-2" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
$(document).ready(function() {
    $('#FK_IDCliente').val('@Model.FK_IDCliente');
    $('#FK_NrCamera').val('@Model.FK_NrCamera');
});
</script>
