@model IEnumerable<GestioneHotel.Models.Prenotazione>

@{
    ViewBag.Title = "Index";
}

<h3>Prenotazioni</h3>

<p class="text-end">
    @Html.ActionLink("+ Nuovo", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_NrCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCheckIn)
        </th>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCheckOut)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FormulaPreno)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnnoPreno)-@item.IDPrenotazione
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_NrCamera) - @Html.DisplayFor(modelItem => item.TipoCamera)
        </td>
        <td>
            @item.DataCheckIn.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.ActionLink(item.Cognome + " " + item.Nome, "Details", "Clienti", new { id = item.FK_IDCliente }, new { @class = "link-dark" })
        </td>
        <td>
            @item.DataCheckOut.ToString("dd/MM/yyyy")
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.FormulaPreno)
        </td>
        
        <td class="text-end">
            @Html.ActionLink("≡ Modifica", "Edit", new { id = item.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("→ Info", "Details", new { id = item.IDPrenotazione }, new { @class = "btn btn-primary btn-sm" })
            
        </td>
    </tr>
}

</table>
