@model GestioneHotel.Models.RichiestaServizio

@{
    ViewBag.Title = "Create";
}

<h3>Nuova Richiesta</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group my-3">
        @Html.LabelFor(model => model.DataServizio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataServizio, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.DataServizio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.QuantitaServizio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuantitaServizio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuantitaServizio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.FK_IDServizio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FK_IDServizio, ViewBag.FK_IDServizio as IEnumerable<SelectListItem>, "Seleziona Servizio", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_IDServizio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group my-3">
        @Html.LabelFor(model => model.FK_IDPrenotazione, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FK_IDPrenotazione, ViewBag.FK_IDPrenotazione as IEnumerable<SelectListItem>, "Seleziona Prenotazione", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_IDPrenotazione, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="✓ Salva" class="btn btn-primary btn-sm" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("← Richieste", "Index", null, new { @class = "btn btn-primary btn-sm mt-2" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
