@model GestioneHotel.Models.RichiestaServizio

@{
    ViewBag.Title = "Edit";
}

<h3>Modifica Richiesta</h3>
<div class="fw-semibold fs-5">
    <span>@Html.DisplayNameFor(model => model.IDRichServizio):</span>
    <span class="bg-dark bg-opacity-25 rounded-3 px-2 pb-1">@Html.DisplayFor(model => model.IDRichServizio)</span>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.IDRichServizio)

        <div class="form-group my-3">
            @Html.LabelFor(model => model.DataServizio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataServizio, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DataServizio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.QuantitaServizio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuantitaServizio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuantitaServizio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.FK_IDServizio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_IDServizio, ViewBag.FK_IDServizio as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_IDServizio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.FK_IDPrenotazione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_IDPrenotazione, ViewBag.FK_IDPrenotazione as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_IDPrenotazione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="✓ Salva" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("← Richieste", "Index", null, new { @class = "btn btn-primary btn-sm mt-2" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
$(document).ready(function() {
    $('#FK_IDServizio').val('@Model.FK_IDServizio');
    $('#FK_IDPrenotazione').val('@Model.FK_IDPrenotazione');
});
</script>