@model IEnumerable<GestioneHotel.Models.RichiestaServizio>

@{
    ViewBag.Title = "Index";
}

<h3>Richieste</h3>

<p class="text-end">
    @Html.ActionLink("+ Nuova Richiesta", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDRichServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataServizio)
        </th>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantitaServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServizio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.IDRichServizio)</td>
        <td>@item.DataServizio.ToString("dd/MM/yyyy")</td>
        <td>
            @Html.ActionLink(item.CognomeCliente + " " + item.NomeCliente, "Details", "Clienti", new { id = item.FK_IDCliente }, new { @class = "link-dark" })


        </td>
        <td>@Html.DisplayFor(modelItem => item.QuantitaServizio)</td>
        <td>@Html.DisplayFor(modelItem => item.TipoServizio)</td>
        <td class="text-end">
            @Html.ActionLink("≡ Modifica", "Edit", new { id = item.IDRichServizio }, new { @class = "btn btn-primary btn-sm" })
            
        </td>
    </tr>
}

</table>
